.flex1 {
    display: flex;
    flex-direction: column;
    gap: 165px;
    background-color: #f5f5f5;
    padding: 60px 0px;
    min-height: 100dvh;
    width: 100%;
    overflow-y: scroll;
    align-items: center;
}

.flex1::-webkit-scrollbar {
    display: none
}

.flex2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.flex2 h2 {
    color: black;
}

.flex3 {
    display: flex;
    background-color: #fff;
    padding: 18px 18px 18px 25px;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.flex3 input {
    border: none;
    max-width: 700px;

}

.flex3 input::placeholder {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.616);

}

.flex3 input:focus {
    outline: none;
}

.flex3 button {
    background-color: #33b27b;
    border: none;
    color: white;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    padding: 6px 18px;
    font-size: 18px;
    opacity: 0.9;
}

.flex3 button:hover {
    opacity: 1;
}

.flex4 {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
}

.flex4 span {
    color: grey;
    font-size: 13.4px;
}