.backToHome {
    display: block;
    color: #ed017f;
    font-size: 14px;
    padding-left: 10px;

}
.sortby {
    color: grey;
    font-weight: 500;
    font-size: 12px;
}

.cont {
    overflow-y: scroll;
    overflow-x: scroll;
    margin-top: 230px;
}

.cont::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.header {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 36px 16px;
}




.f-btw {
    display: flex;
    justify-content: space-between;
}

.h-btns {
    display: flex;
    gap: 2px;
    align-items: center;
}

.h-btns .h-btn {
    font-size: 13px;
    background-color: none;
    border: none;
    text-decoration: none;
    color: black;
}

.h-btns .h-btn.red {
    color: #960652;
    font-weight: 500;
}

.sortby-flex {
    display: flex;
}

.sortby-flex button {
    font-size: 12px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 4px 8px;

}

.sortby-flex button:not(:first-child) {
    border-left: none;
}

.sortby-flex button:focus {
    border: 0.5px solid #ed017f;
    color: #ed017f;
}

.body {
    background-color: #f3f2f2;
    display: flex;
    gap: 18px;
    padding: 14px 18px 0px 10px;
    width: 100%;
    align-items: flex-start;
    padding-bottom: 20px;
}

.body::-webkit-scrollbar {
    display: none;
}

.body-side {
    width: 14%;
    min-width: 225px;
    background-color: white;
    padding: 12px 5.5px 20px 5.5px;
    flex-grow: 0;
}

.side-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
    border-bottom: 1px solid rgb(189, 187, 187);
    padding-bottom: 5px;

}

.side-1 button {
    border: none;
    background-color: white;
    font-size: 12px;
}

.body-main {
    width: 82%;
}


@media(max-width: 1284px) {
    .body-side {
        width: 14%;
        min-width: 180px;
        background-color: white;
        padding: 12px 5.5px 20px 5.5px;
        flex-grow: 0;
    }
}

@media(max-width: 1054px) {
    .body-side {
        display: none;
    }

    .body-main {
        width: 100%;
    }
}

@media(max-width: 767px) {
    .header {
        display: none;
    }

    .cont {
        overflow-y: scroll;
        overflow-x: scroll;
        margin-top: 120px;
        
    }
}

