 .nav-bar {
     position: relative;
 }

 .nav-links {
     display: flex;
     background-color: #960652;
     overflow-x: auto;
 }



 .nav-bar .nav-link {
     color: #fff;
     padding: 15px 38px;
     white-space: nowrap;
     font-size: 13px;
     text-decoration: none;
     font-weight: 500;
     background-color: none;
     opacity: 0.945;
     transition: color 0.3s ease, background-color 0.6s ease;

 }

 .nav-link:hover {
     background: #fff;
     color: #000;
 }

 .nav-bar .nav-link:focus {
     background: #00000054;
     color: #fff;
 }


 /* Dropdown wrapper */
 .dropdown {
     position: absolute;
     top: 100%;
     /* directly under nav */
     left: 0;
     width: 100vw;
     background: #f8f8f8;
     border-top: 1px solid #ccc;
     z-index: 9999;
     padding: 30px 0px 200px 20px;
     overflow-y: auto;
     /* allows vertical scrolling */
     overflow-x: hidden;
     scrollbar-width: thin;
     max-height: 79.5vh;
 }

 .dropdown-inner {
     display: flex;
     flex-wrap: wrap;
     gap: 70px;
 }

 .sub-categories {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     gap: 8px;
 }

 .dropdown-inner h1 {
     font-size: 15px;
     font-weight: bold;
     margin-bottom: 6px;
 }

 .item {
     border: none;
     background-color: #f8f8f8;
     align-self: flex-start;
     justify-self: flex-start;
     font-size: 14px;
 }



 .item:hover {
     color: #ed017f;
 }

 @media(max-width: 767px) {
     .nav-links {
         display: flex;
     }

     .nav-bar .nav-link {
         padding: 10px 38px;

     }
 }

 @media (min-width: 601px) {
     .nav-links::-webkit-scrollbar {
         width: 0;
         height: 0;
     }
 }

 /* restore full default scrollbar below 600px */
 @media (max-width: 600px) {
     .nav-links::-webkit-scrollbar {
         height: 6px;
         /* scrollbar thickness */
     }

     /* scrollbar track (the full bar) */
     .nav-links::-webkit-scrollbar-track {
         background: white;
     }

     /* scrollbar thumb (the part that moves) */
     .nav-links::-webkit-scrollbar-thumb {
         background: grey;
         border-radius: 10px;
         width: 3px !important;      
         min-width: 3px !important ;     }
  .nav-bar .nav-link {
         padding: 8px 38px;

     }

 }